.THIS .blue {
  	background-color: #444C7C;    
}

.THIS .slds-icon-text-default  {
    fill: green;
}
.THIS .success-icon {
    height: 40px;
    line-height: 40px;
    margin-left: 8px;
}

.THIS .tblspace {
    width:auto;
}