.THIS .backMatch {
    background-color:#F8F8F8;
}
.THIS .spins::after {
    position: absolute;
    content: 'Saving a file takes a few minutes.  Please don\'t navigate away from this page until it refreshes';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
    font-size: 25px;
}