.THIS {
    background-color: #444C7C;
    width: 100%;
    margin: 0 auto;
    padding-top: 32px;
    margin-top: 18px;
    border-radius: 8px;
}

.THIS .content-area {
    width: 90%;
    margin: 0 auto;
}
.THIS .display-client-data {
    width: 100%;
}
.THIS .display-client-data-label {
    width: 50%;
    float:left
}
.THIS .display-client-data-datavalue {
    width: 50%;
    float:left
}
.THIS .show-products {
    visibility: visible;
}
.THIS .hide-products {
    visibility: collapse;
}
.THIS .slds-tabs_default__link {
    float: left;
}
.THIS .slds-icon-text-default  {
    fill: green;
}
.THIS .success-icon {
    height: 40px;
    line-height: 40px;
    margin-left: 8px;
}
.THIS .tab-parent-link {
    width: 265px;
}
.THIS .gray {
   background-color: #D9D9D8;
}

.THIS .blue{
   background-color: #444C7C;
}

.THIS .white{
   background-color: white;
}

.THIS .black{
   background-color: black;
    height: 100%; 
}

.THIS .whiteText{
   color: white;
}