.THIS .slds-table .slds-row-number:after {
    content: counter(none) !important ;
    display: none !important ;
}
.THIS.results-wrap td .slds-truncate {
    white-space: normal!important;
    overflow-wrap: break-word!important;
    word-wrap: break-word!important;
}