.THIS .sortheader .hoverbutton {
    visibility: hidden;
}
.THIS .sortheader:hover .hoverbutton {
    visibility: visible;
}
.THIS .sortheader:hover {
    background-color:#f3f2f2;
}
.THIS .sortheader:active {
    background-color:#ecebea;
}