.THIS {
  margin: 16px;
  background-color: #ffffff;
}

.THIS hr {
  margin: 1rem 0;
}

.THIS .products-area {
  padding: 24px 18px;
  margin: 0 auto;
  width: 100%;
}
.THIS .display-client-data {
      width: 100%;
  padding: 0 12px;
}
.THIS .info-label {
    width: 50%;
    text-align: left;
}
.THIS .info-value {
  width: 50%;
  text-align: left;
}
.THIS .show-products {
  visibility: visible;
}
.THIS .hide-products {
 visibility: collapse;
}
.THIS .container-box {
  display: block;
  font-weight: bold;
  border: 1px solid gray;
  padding: 6px;
  margin: 6px 0;
  border-radius: 6px;
}

.THIS .container-box:last-child {
  margin-bottom: 0;
}

.THIS .container-inner-box {
  border: 1px solid gray;
  padding: 6px; 
  border-radius: 6px;
}

.THIS .container-heading {
  text-align: center;
}

.THIS .verify-button {
  /*display: block;*/
  margin: 6px auto; 
  text-align: center;
  color: red;
}