.THIS {
    margin: 16px;
    background-color: #ffffff;
}

.THIS .content-area {
    width: 60%;

}


.THIS input[type=text] {
    font-size: 14px;
    width: 150px;
    padding: 4px 8px;
    margin: 4px 0;
}

.THIS h2 {
    font-size: 20px;
    margin-top: 16px;
}

/*
.THIS label {
    display: inline-block;
    width: 180px;
    text-align: right;
    margin-right: 6px;
}
*/
.THIS .principal {
    color: #0288D1;
}
.THIS .slds-radio {
    padding: 3px;
}
.THIS .new-client-checkbox {
    float: left;
}
.THIS .new-client-checkbox-label {
    margin-left: 6px;
}
.THIS .new-client-input {
    width: 100%;
}
.THIS .new-client-input label {
    width:180px;
}
.THIS .new-client-input input {
    width: 100%;
}
.THIS .new-client-input.lightning-input_input  {
    width: 100%
}
.THIS .remove-button {
    margin: 18px 0 0 8px;
    text-align: right;
}