.THIS .create-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}
.THIS .create-buttons {
    margin-top:22px;
}
.THIS .THIS .success-icon {
    height: 40px;
    line-height: 40px;
    margin-left: 8px;
}