.THIS .spins::after {
    position: absolute;
    content: 'Do not close this tab until CPQ reloads to ensure your quote is saved.';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
    font-size: 25px;
}
.THIS .blue{
    background-color: #505889;
}
.THIS tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
.THIS .gray{
    background-color: #f4f6f9;
}
.THIS .logo{
    width: 20%; 
}
 .THIS.hide {
 	display: none;
 }
 
 .THIS.btn {
 	margin-bottom: 10px;
 }

.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS .field{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}