.THIS {
}
.THIS .new-client-checkbox {
    float: left;
}
.THIS .new-client-checkbox-label {
    margin-left: 6px;
}
.THIS .new-client-input {
    width: 100%;
}
.THIS .new-client-input label {
    width:180px;
}
.THIS .new-client-input input {
    max-width: 500px;
}
.THIS .new-client-input.lightning-input_input  {
    width: 100%
}
.THIS .slds-select_container {
    width: 50%;
}
.THIS .slds-box {
    width: 90%;
}
.THIS .create-buttons-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}
.THIS .create-buttons {
    margin-top:22px;
}
.THIS .slds-combobox {
    max-width: 300px;
}
.THIS .search-input label {
    width:100%;
}
.THIS .remove-button {
    margin: 18px 0 0 8px;
    text-align: right;
}
.THIS .requiredfield {
 font-weight: 400; } 
.THIS .requiredfield:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; }