<apex:page sidebar="false" showHeader="true" docType="html-4.01-strict">

<div id="tabstrip" style="display:none;"> <ul> 
<li class="k-state-active">VisualForce Pages</li>
<li>Users</li>
<li>ActionGrid Views</li>
</ul>

<!-- Apex Page aka VisualForce Pages -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="ApexPage" DelayLoad="false"  ViewID="a4w50000000E5r3AAC" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>

<!-- Users -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="User" DelayLoad="true"  ViewID="a4w50000000E5r4AAC" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>
 
 
 <!-- AG Views -->
<div style="overflow:hidden;"> 
<CRMC_PP:Grid ObjectName="CRMC_PP__GridView__c" DelayLoad="true"  ViewID="a4w50000000E5r2AAC" 
 EnableNewButton="true"  EnableNewInline="true"  EnableEdit="true"  EnableActions="true"  EnableFieldChooser="true" 
 EnableStickyViews="true"  EnableToolbar="true"  EnableViews="true"  EnableFormatting="true"  EnableReadingPane="true" />
 <CRMC_PP:DrillUp /> 
 </div>


</div>
<script>
$(document).ready(function() {
    $("#tabstrip").kendoTabStrip({
      activate: function(e){
        setTimeout(function(){          $(window).resize();        });
      }
    });
    $("#tabstrip").css("display", "block");
});
 </script>
</apex:page>