<apex:page standardController="Contract_Document__c" showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <meta charset="utf-8" />
            <title>Documents Menu</title>
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <apex:includeScript value="{!URLFOR($Resource.jquery311)}" />
            <apex:includeScript value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.js')}" />            
            <apex:stylesheet value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.theme.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.structure.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS0203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
            
        </head>
        <body>
            <!-- REQUIRED SLDS WRAPPER-->
            <div class="qualtrics">
                <div role="alertdialog" tabindex="-1" aria-labelledby="prompt-heading-id" aria-describedby="prompt-message-wrapper" class="slds-modal slds-fade-in-open slds-modal--prompt">
                    <div class="slds-modal__container">
                        <div class="slds-modal__header slds-theme--success slds-theme--alert-texture">
                            <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close">
                                <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
                                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                </svg>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                            <h2 class="slds-text-heading--medium" id="prompt-heading-id">Complete</h2>
                        </div>
                       <!-- <div class="slds-modal__content slds-p-around--medium">
                            <p>The contract has been sent for signature to {!Contract_Document__c.SigEmailFormula__c }</p>
                        </div>-->
                        <div class="slds-modal__footer slds-theme--default">
                            <button class="slds-button slds-button--neutral" onclick="closePage()" >OK</button>
                        </div>
                    </div>
                </div>
              
            </div>
            <!-- / REQUIRED SLDS WRAPPER -->
            
            <!-- JAVASCRIPT -->
            
            <script>
            $( function() {
                $( "#type" ).selectmenu();
            } );
            </script>
            <script>
            $( function() {
                $( "#dialog" ).dialog();
            });
           
            function closePage() {
                  window.top.close()
            var addWindow = window.open('{!URLFOR('/apex/OnboardingLightning?Id='+Contract_Document__c.Opportunity__c)}');
                                        //  window.open = '/apex/OnboardingLightning?Id='+Quote.OpportunityId;
            //top.window.opener.location.reload(true);
            //top.window.close();
}
            </script>
            
            <!-- / JAVASCRIPT -->
        </body> 
    </html>
    
</apex:page>