<apex:page standardController="Client__c" showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <title>Bootstrap Example</title>
            <meta charset="utf-8"/>            
            <apex:includeScript value="{!URLFOR($Resource.jquery311)}" />
            <apex:includeScript value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.js')}" /> 
            <apex:stylesheet value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.theme.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.structure.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS0203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
        </head>
        
        <body>
            
            <!-- REQUIRED SLDS WRAPPER-->
            <div class="qualtrics">
                
                <apex:form >
                    <apex:messages />  
                    <!-- MASTHEAD -->
                    <div class="slds-grid">
                        <div class="slds-col">
                             <p class="slds-text-heading--label slds-m-bottom--small">Client</p>
                        </div>                       
                        <div class="slds-no-flex slds-align--right">                                                        
                            <apex:commandButton action="{!quicksave}" oncomplete="top.window.opener.location.reload(true);top.window.close();" value="Save" id="btnSave" styleClass="slds-button slds-button--brand"/> 
                            <button class="slds-button slds-button--brand" onclick="closePage()">Close</button>
                        </div>
                    </div>
                    
                    <!-- / MASTHEAD -->
                    
                    
                    <!-- PRIMARY CONTENT WRAPPER -->
                    <div class="myapp">
                        
                        <!-- EDIT CARD -->
                        
                        <article class="slds-card slds-m-top--small">
                            <header class="slds-card__header slds-grid">
                                <div class="slds-media slds-media--center slds-has-flexi-truncate">
                                    <div class="slds-media__body slds-truncate">
                                        <span class="slds-text-heading--small">{!Client__c.Name}</span>
                                    </div>
                                    
                                </div>
                            </header>
                            
                            <!-- CARD BODY = TABLE -->
                            <section class="slds-card__body">
                                <div class="slds-card__body--inner slds-p-around--small">  
                                    
                                    <div class="slds-panel slds-grid slds-grid--vertical slds-nowrap">
                                        <div class="slds-form--stacked slds-grow slds-scrollable--y">
                                            <div class="slds-panel__section">
                                                <div class="slds-form-element slds-hint-parent">
                                                    <label class="slds-form-element__label" for="txtStreet">Street Address</label>
                                                    <div class="slds-form-element__control">
                                                        <apex:inputField id="txtStreet" value="{!Client__c.Shipping_Street__c}" styleclass="slds-input"></apex:inputField>
                                                    </div>
                                                </div>
                                                <div class="slds-form-element slds-hint-parent">
                                                    <label class="slds-form-element__label" for="txtCity">City</label>
                                                    <div class="slds-form-element__control">
                                                        <apex:inputField id="txtCity" value="{!Client__c.Shipping_City__c}" styleclass="slds-input"></apex:inputField>
                                                    </div>
                                                </div>
                                                <div class="slds-form-element slds-hint-parent">
                                                    <label class="slds-form-element__label" for="txtState">State/Province</label>
                                                    <div class="slds-form-element__control">
                                                        <apex:inputField id="txtState" value="{!Client__c.Shipping_State__c}" styleclass="slds-input"></apex:inputField>
                                                    </div>
                                                </div>
                                                
                                                <div class="slds-form-element slds-hint-parent">
                                                    <label class="slds-form-element__label" for="pickCountry">Country</label>
                                                    <div class="slds-form-element__control">
                                                        <apex:inputField id="pickCountry" value="{!Client__c.ShippingCountry2__c}" styleclass="slds-select"></apex:inputField>
                                                    </div>
                                                </div>
                                                <div class="slds-form-element slds-hint-parent">
                                                    <label class="slds-form-element__label" for="txtZip">Zip/Postal Code</label>
                                                    <div class="slds-form-element__control">
                                                        <apex:inputField id="txtZip" value="{!Client__c.Shipping_Zip_Postal_Code__c}" styleclass="slds-input"></apex:inputField>
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </section>
                            <!-- / CARD BODY = SECTION + TABLE -->
                            
                            <footer class="slds-card__footer">
                                <a href="javascript:void(0);"> <span class="slds-assistive-text">contacts</span></a>
                            </footer>
                            
                        </article>
                        
                    </div>
                    <!-- / EDIT CARD -->
                    
                    <!-- / PRIMARY CONTENT WRAPPER -->
                </apex:form>
            </div>
        </body>
        
        <script>
        function closePage() {window.top.close()};
        </script>
    </html>
</apex:page>