<apex:page standardController="Opportunity" showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <meta charset="utf-8" />
            <title>Quote Menu</title>
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <apex:includeScript value="{!URLFOR($Resource.jquery311)}" />
            <apex:includeScript value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.js')}" />            
            <apex:stylesheet value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.theme.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.jqueryui1121, 'jquery-ui.structure.css')}" />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS0203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
            
        </head>
        <body>
            <!-- REQUIRED SLDS WRAPPER-->
            <div class="qualtrics">
                <apex:form id="theForm" >
                    <apex:messages />  
                    <!-- MASTHEAD -->
                    <p class="slds-text-heading--label slds-m-bottom--small">Panels Opportunity</p>
                    <!-- / MASTHEAD -->
                    
                    <!-- PAGE HEADER -->
                    <div class="slds-page-header slds-m-bottom--small" role="banner">
                        
                        <!-- PAGE HEADER TOP ROW -->
                        <div class="slds-grid">
                            
                            <!-- PAGE HEADER / ROW 1 / COLUMN 1 -->
                            <div class="slds-col">
                                
                                <!-- HEADING AREA -->
                                <!-- MEDIA OBJECT = FIGURE + BODY -->
                                <div class="slds-media slds-media--top slds-no-space slds-grow">
                                    <div class="slds-media__body">
                                        <h1 class="slds-page-header__title">{!Opportunity.Name}</h1>
                                    </div>
                                </div>
                                <!-- / MEDIA OBJECT -->
                                <!-- HEADING AREA -->
                                
                            </div>
                            <!-- / PAGE HEADER / ROW 1 / COLUMN 1 -->
                            
                            <!-- PAGE HEADER / ROW 1 / COLUMN 2 -->
                            <div class="slds-col slds-no-flex slds-grid slds-align-top">
                                <div class="slds-button-group" role="group">
                                    
                                    <button class="slds-button slds-button--brand" onclick="closePage()">Return to Opp</button>
                                </div>
                            </div>
                            <!-- / PAGE HEADER / ROW 1 / COLUMN 2--> 
                            
                        </div>
                        
                        <!-- / PAGE HEADER TOP ROW -->
                        
                        <!-- PAGE HEADER DETAIL ROW -->
                        <!-- / PAGE HEADER DETAIL ROW -->
                        
                    </div>
                    <!-- / PAGE HEADER-->     
                    <!-- PRIMARY CONTENT WRAPPER -->
                    <div class="myapp">
                        
                        <!-- RELATED LIST CARDS-->
                        
                        <div class="slds-grid slds-m-top--large">
                            
                            <!-- NARROW CARD -->
                            <div class="slds-col">
                                <ul >
                                   
                                    <li class="slds-item"> 
                                        <div class="slds-grid">
                                            <div clas="slds-col slds-size--1-of-3">
                                                <apex:commandButton value="Download Word Doc" id="btnquote" styleClass="slds-button slds-button--brand" onclick="openCongaQuote()"/> 
                                                <apex:commandButton value="Download PDF" id="btnquoteemail" styleClass="slds-button slds-button--brand" onclick="emailCongaQuote()"/> 
                                               <!-- <apex:commandButton value="Send for Signature MSA with Download" id="btnquoteattMSAP" styleClass="slds-button slds-button--brand" onclick="esignCongaQuoteMSAPreview()"/> 
                                                 <apex:commandButton value="Send for Signature no MSA with Download" id="btnquoteattP" styleClass="slds-button slds-button--brand" onclick="esignCongaQuotePreview()"/>
                                                <apex:commandButton value="Send for Signature MSA" id="btnquoteattMSA" styleClass="slds-button slds-button--brand" onclick="esignCongaQuoteMSA()"/> 
                                                 <apex:commandButton value="Send for Signature no MSA" id="btnquoteatt" styleClass="slds-button slds-button--brand" onclick="esignCongaQuote()"/>-->
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            
                            
                            
                            <!-- / NARROW CARD -->
                            
                            
                        </div>
                        <!-- / RELATED LIST CARDS -->
                        
                    </div>
                    <!-- / PRIMARY CONTENT WRAPPER -->
                    
                    
                    <!-- FOOTER -->
                    <footer role="contentinfo">
                        <!-- LAYOUT GRID -->
                        <div class="slds-grid slds-grid--align-spread">
                            
                        </div>
                        <!-- / LAYOUT GRID -->
                    </footer>
                    <!-- / FOOTER -->
                </apex:form>
            </div>
            <!-- / REQUIRED SLDS WRAPPER -->
            
            <!-- JAVASCRIPT -->
            
            <script>
            $( function() {
                $( "#type" ).selectmenu();
            } );
            </script>
            <script>
            $( function() {
                $( "#dialog" ).dialog();
            });
            </script>
            <script>
            function closePage() {
                 var oppId = '{!Opportunity.Id}';
                        console.log('===oppId=' ,oppId);
                        window.top.close();
                        window.open('/'+oppId );
            };
            </script>
            
            <script>
            function refreshPage() {window.refresh()};
            </script>
            
            <script>  
            function openCongaQuote() {                             
                window.open('{!URLFOR($Action.Opportunity.Panels_Quote ,Opportunity.Id)}'); 
                //window.top.close();
            }
            </script> 
            <script>  
            function esignCongaQuoteMSA() {                             
                window.open('{!URLFOR($Action.Opportunity.Panels_Quote_Docusign_MSA ,Opportunity.Id)}'); 
                //window.top.close();
            }
            </script> 
             <script>  
            function esignCongaQuote() {                             
                window.open('{!URLFOR($Action.Opportunity.Panels_Quote_Docusign_No_MSA ,Opportunity.Id)}'); 
                //window.top.close();
            }
            </script> 
             <script>  
            function esignCongaQuoteMSAPreview() {                             
                window.open('{!URLFOR($Action.Opportunity.Panels_Quote_Docusign_MSA_Preview ,Opportunity.Id)}'); 
                //window.top.close();
            }
            </script> 
             <script>  
            function esignCongaQuotePreview() {                             
                window.open('{!URLFOR($Action.Opportunity.Panels_Quote_Docusign_No_MSA_Preview ,Opportunity.Id)}'); 
                //window.top.close();
            }
            </script> 
             <script>  
            function emailCongaQuote() {                             
                window.open('{!URLFOR($Action.Opportunity.Panels_Quote_Email ,Opportunity.Id)}'); 
                //window.top.close();
            }
            </script> 
            <!-- / JAVASCRIPT -->
        </body> 
    </html>
    
</apex:page>