<apex:page standardController="Account" id="updateOwnerPage" >
<apex:form >
<apex:sectionheader title="{!Account.Name}"/>
<apex:pageblock mode="edit">
<apex:pagemessages />
<apex:pageblocksection title="Select New Owner" columns="1">
<apex:pageblocksectionItem >
<apex:outputlabel for="account">Transfer this account</apex:outputlabel>
<apex:outputfield value="{!Account.Name}"/>
</apex:pageblocksectionItem>
<apex:pageblocksectionItem >
<apex:outputlabel for="owner">Owner</apex:outputlabel>
<apex:inputfield id="owner" value="{!Account.OwnerId}"/>
</apex:pageblocksectionItem>
<apex:inputfield value="{!Account.EM_Previous_Owner__c}" required="false"/>
<apex:inputfield value="{!Account.EM_New_Owner__c}" required="false"/>
</apex:pageblocksection>
<apex:pageblockbuttons location="bottom">
<apex:commandbutton value="Save" action="{!save}"/>
<apex:commandbutton value="Cancel" action="{!cancel}"/>
</apex:pageblockbuttons>
</apex:pageblock>
</apex:form>
</apex:page>