<apex:page standardController="QService__c">
    
    <apex:includeLightning />

    <div id="lightning" />

    <script>
        $Lightning.use("c:CurrencyCalculator", function() {
          $Lightning.createComponent("c:Calculator",
          { label : "Press Me!" },
          "lightning",
          function(component) {
            // do some stuff
          });
        });
    </script>
</apex:page>