<apex:page controller="PanelsCloneProjectController" showHeader="false" sidebar="false">
   <flow:interview name="Panels_Project_Clone_V2017_2_10" interview="{!myFlow}" finishlocation="{!PID}">
   
    </flow:interview>
   
</apex:page>