<apex:page standardController="Opportunity" extensions="cdr_GenerateDocumentsExtension"
	showHeader="false" sidebar="false" standardStylesheets="false" docType="html-5.0">
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Attachment Page</title>
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<apex:stylesheet value="{!URLFOR($Resource.SLDS0203, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}" />
		<style>
		.BtnCls {
			margin: 0.4em !important;
		}
		</style>
	</head>
	<body>
		<apex:messages />
		<!-- REQUIRED SLDS WRAPPER -->
		<div class="qualtrics">
			<apex:outputPanel >
			 <!-- PAGE HEADER -->
			<div class="slds-page-header slds-m-bottom--small" role="banner">

				<!-- PAGE HEADER TOP ROW -->
				<div class="slds-grid">

					<!-- PAGE HEADER / ROW 1 / COLUMN 1 -->
					<div class="slds-col">
						<!-- HEADING AREA -->
						<h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate">Please attach your purchase order</h1>
						<!-- HEADING AREA -->
					</div>
					<!-- / PAGE HEADER / ROW 1 / COLUMN 1 -->
				</div>
				<!-- PAGE HEADER DETAIL ROW -->
				<div class="slds-page-header__detail-row">
					<apex:outputPanel >
						<apex:form id="form_Upload">

							<apex:pageMessages />
							<div class="slds-m-bottom--small">
								<apex:outputLabel value="File" for="file_File"/>
								<apex:inputFile id="file_File" value="{!fileBody}" filename="{!fileName}"/>
							</div>

							<div class="slds-m-bottom--small">
								<apex:outputLabel value="" for="uploadBtn"/>
								<apex:commandButton id="saveBtn" value="Save" action="{!addPOAttachment}" styleClass="BtnCls"/>
								<apex:commandButton id="cancelBtn" value="Cancel" action="{!redirectGenerateDocPage}" styleClass="BtnCls"/>
							</div>
						</apex:form>
					</apex:outputPanel>

				</div>


				<!-- / PAGE HEADER DETAIL ROW -->

			</div>
			<!-- / PAGE HEADER -->
			</apex:outputPanel>
		</div>
		<!-- / REQUIRED SLDS WRAPPER -->

		<!-- JAVASCRIPT -->

		 <!-- JAVASCRIPT -->
            
             <script>                
           
            </script> 
            <!-- / JAVASCRIPT -->
		<!-- / JAVASCRIPT -->

	</body>
</html>
</apex:page>