<apex:page standardController="Quote" extensions="QuoteSyncButton" showHeader="true" sidebar="false" standardStylesheets="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
        <head>
            <title>XM Quote</title>
            <!-- <base target="_blank" /> -->
            <meta charset="utf-8"/>
            <apex:includeScript value="{!URLFOR($Resource.jquery311)}"/>
            <apex:stylesheet value="{!URLFOR($Resource.SLDS0232, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
             <style type="text/css">
              


                .syncWindow {
                background-color: white;
                border-width: 1px;
                border-style: solid;
                z-index: 9999;
                left: 50%;
                padding: 10px;
                position: fixed;
                width: 500px;
                min-height: 120px;
                margin-left: -180px;
                top: 200px;
                }
                .syncBackground {
                background-color: black;
                opacity: 0.20;
                filter: alpha(opacity = 20);
                position: absolute;
                width: 100%;
                height: 220%;
                top: 0;
                left: 0;
                z-index: 9998;
                }
                a.activeButton,
                a.activeButton:active,
                a.activeButton:focus,
                a.activeButton:visited {
                background-color: white;
                color: #0070d2;
                text-decoration: none;
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                border: 1px solid #d8dde6;
                border-radius: 0.25rem;
                }
               
                
            </style>
        </head>
        
        
        <body>
            <div class="qualtrics">
                 <input id="cQuoteId" value="{!Quote.Id}" type="hidden"/>
                <!-- buttons -->
                <apex:form >
                    <apex:commandButton id="startSyncButton" style="{!if(syncStatus == 'This','display: none;','')}"  action="{!syncIt}" oncomplete="RefreshPrimaryTab() "  title="Start Sync" value="Start Sync"/>
               
                </apex:form>
                
                         
            </div>
       
            <script type="text/javascript">
            var quoteId = document.getElementById("cQuoteId").value; 
            var curQuoteType;
            var hasFieldChanged = false;
            var syncStatus = "{!syncStatus}";
            
          
 
        function RefreshPrimaryTab() 
        {
                  window.top.location.href = '/' + quoteId;
        }


   
            function syncButtonClicked() {
                console.log('syncButtonClicked');
                console.log('syncStatus', syncStatus);
                if (syncStatus == "None") {
                    document.getElementById("syncInit").style.display = "inline";
                } else if (syncStatus == "Other") {
                    document.getElementById("syncOther").style.display = "inline";
                }
            }
            
          
                function syncCancelButtonClicked() {
                    console.log('syncCancelButtonClicked');
                    document.getElementById("syncInit").style.display = "none";
                    document.getElementById("syncOther").style.display = "none";
                }
                
                function syncContinueClicked() {
                    console.log('syncContinueClicked');
                    document.getElementById("syncOther").style.display = "none";
                    document.getElementById("syncInit").style.display = "inline";
                }
                
                function syncDone() {
                    console.log('syncDone');
                    syncCancelButtonClicked();
                    document.getElementById("syncDone").style.display = "none";
                }
                
                
                </script>
        </body>
        
    </html>
</apex:page>