<apex:page standardController="QService__c" extensions="serviceEditBannerController" lightningStyleSheets="true">
    
    	<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">    
		<head>
			<meta charset="utf-8" />
            
            <meta http-equiv="x-ua-compatible" content="ie=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <apex:stylesheet value="{!URLFOR($Resource.SLDS0232, 'assets/styles/salesforce-lightning-design-system-vf.min.css')}"/>
        </head>
		
		<body>    
		    <div class="qualtrics">
                <apex:outputPanel id="section1" rendered="{!section1}">
                    <div class="slds-notify--container">
                        <div class="slds-notify slds-notify--alert slds-theme--alert-texture slds-theme--error" role="alert">
                            <h1>Service is not available for editing because the linked opportunity is won/invoiced.</h1>
                        </div>
                    </div> 
                </apex:outputPanel>
                
                <apex:outputPanel id="section2" rendered="{!section2}">
                    <div class="slds-notify--container">
                        <div class="slds-notify slds-notify--alert slds-theme--alert-texture slds-theme--success" role="alert">
                            <h1>Service is available for editing.</h1>
                        </div>
                    </div> 
                </apex:outputPanel>
                <apex:outputPanel id="section3" rendered="{!section3}">
                    <div class="slds-notify--container">
                        <div class="slds-notify slds-notify--alert slds-theme--alert-texture slds-theme--error" role="alert">
                            <h1>No partner availability record exists for the selected partner. Please add a different partner or reach out to PartnerSuccess@qualtrics.com to have a new record created, then add the same partner again.</h1>
                        </div>
                    </div> 
                </apex:outputPanel>
            </div>    
		</body>
	</html>
</apex:page>