<apex:page standardController="Task" >
     <apex:includeLightning />
   
        <div id="contactDiv"/>
            <script>
            $Lightning.use("c:task_RelatedInformationApp",function(){
                  $Lightning.createComponent(
                      "c:task_RelatedInformation",
                      {recordId: '{!Id}'
                     
                      },
                      "contactDiv");

                });
    </script>
</apex:page>