.THIS .inputFieldWidth {
    width:85%;
}
.THIS .uiButton{
   background-color: #2574a9;
   color: #fff; 
}
.THIS.green{
    background-color: #2574a9;
   color: #fff; 
}
.THIS.lightblue{
    background-color: #d8edff;
}