.THIS {

}
.THIS .content-container {
    margin: 8px 24px 12px 24px;
}
.THIS .notes-input input {
    height: 200px;
}
.THIS .button-save {
    margin-top: 28px;
}
.THIS .new-client-input {
    width: 100%;
    max-width: 800px;
}
.THIS .slds-form-element__label {
    width: 100%;
    padding: 4px 0;
}
.THIS .notes-input .slds-textarea {
    width: 100%;
}
.THIS .slds-form-element__control {
    width: 100%;
}